* {
    border: 1px solid green; /* Cambiado el valor a 1px y corregido el color */
}


/* colores para el menu de MOBILE*/
.navigation-menu-bar {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navigation-menu-bar li {
    flex: 1;
    text-align: center;
    padding: 10px;
    background-color: #465881;
    transition: background-color 0.3s;
}

.navigation-menu-bar li:hover {
    background-color: #00909e; /* Cambio de color al pasar el mouse */
}

.navigation-menu-bar li a {
    color: white;
    text-decoration: none; /* Quita la subrayado del enlace */
    transition: color 0.3s; /* Transición suave para el cambio de color del texto */
}

@media screen and (max-width: 768px) {

    header div{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .dark-mode-logo {
        max-width: 100px; /* Máximo ancho permitido */
        max-height: 100px; /* Máximo alto permitido */
        margin-right: -25PX;
    }

    .logo-mobile img {
        display: flex;
        margin-left: 5%;
        max-width: 100px; /* Máximo ancho permitido */
        max-height: 100px; /* Máximo alto permitido */
    }

    #mobile-menu {
        font-size: 2.5rem;
        background-color: transparent;
        margin-right: 5%;
    }

    #mobile-menu.open::before {
        content: "X";
        color: black;
    }
    #mobile-menu::before {
        content: "☰";
        color: black;
    }

    /*hide the desktop menu on mobile*/
    .navigation-menu-bar {
        display: none;
    }
    .open {
        display: block;
    }

    /*remove the  desktop logos*/
    .dark-mode-button-on-desktop,
    .navigation-menu-bar>li>a>img {
        display: none;
    }
}
