/* ----- Start of main code -----*/
body {
    background-color: #f9ecdc;
    color: #1b2a49;
    text-align: center;
}

/* ----- End of main code  ----- */

/* ----- Header -----*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Estilos para el navbar-header */
.navbar-header {
    display: flex;
    align-items: center; /* Alinea los elementos verticalmente */
}
/* ----- End of Header -----*/



/* ----- things that affect both, mobile and desktop view ----- */
#mobile-menu { /* to hide the borders and a space that appear*/
    border: none;
    padding: 0;
}
.navigation-menu-bar { /*navigation bar color*/
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.navigation-menu-bar li { /*text of navigation bar*/
    flex: 1;
    text-align: center;
    padding: 10px;
    background-color: #93cadf;
    
    border-style: solid;  
    border-radius: 20px; 
    padding: 20px;
}
.navigation-menu-bar li a {
    color: black;
    font-weight: 700;
    text-decoration: none; /* Quita la subrayado del enlace */
    transition: color 0.3s; /* Transición suave para el cambio de color del texto */
    
}

.navigation-menu-bar li:hover { /* hover of navigation */
    background-color: #00909e; 
}

.navigation-menu-bar li a:hover {
    color: #a38288; /* text hover */

}

/* ----- things that affect both, mobile and desktop view-----  */

/* ----- desktop view ----- */
.home-logo {
    width: 50%;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    margin: -10%;
}


.logo-mobile img{
    display: none;
}
.dark-mode-logo {
    display: none;
}
.menu-option-logo {
    font-size: 0; /* Hace que el texto sea invisible */
}
/* ----- END desktop view ----- */



/*
Colors to be used during the day:
Red #ab410d
Orange #dcab5e
Sand #f9ecdc
Light Blue #93cadf
Blue #4bafc9

Colors to be used during the night:
BACKGROUND 465881 DARKBLUE
other background  3D3A33 
lETRAS FAE687 YELLOW
border #E6AB27
*/


/* Start of Dark Mode Button */
#dark-mode-button {
    width: 40%;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    margin: -20%;
}

.dark-mode {
    background-color: #465881;
    color: #FAE687;
}

.dark-mode #dark-mode-button {
    width: 40%;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    margin: -20%;
}

.dark-mode .navigation-menu-bar li {
    flex: 1;
    text-align: center;
    padding: 10px;
    transition: background-color 0.3s; /* Transición suave para el cambio de color */
    color: #1b2a49;
}


.dark-mode footer {
    color: #E6A725; 
    background-color: #3D3A33 ;
}
.dark-mode .card {
    border-color: #E6AB27;
}

/* ----- End of Dark Mode Button -----*/

/*---- button ----*/

button {
    display: inline-block;
    line-height: 1;
    transition: all .3s;
    background-color: rgb(189, 85, 85);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: -10px;
    color: #FFFFFF;
    font-size: large;
    text-transform: uppercase;
    margin: 2px;
}

button:hover{
    color: #FFFFFF;
    background-color: #3D93AA;
  }
/*---- button ----*/
/* ----- Footer -----*/

footer {
    background-color: #93cadf;
    color: black;
    font-weight: 100;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    justify-content: space-between;
    padding: 20px;
    text-align: center;
    align-items: center; /* Alinea verticalmente el contenido */
}

footer div p a {
    text-decoration: none; 
    transition: color 0.3s;
    font-weight: bolder;
    color: inherit;

}

.footer-column {
    margin-right: 20px;
}

.footer-column p {
    margin-top: 0;
    margin-bottom: 10px;
}

.footer-column img {
    width: 10%;
    height: auto;
    margin-right: 10px;
}
/* ----- End of Footer -----*/



@media screen and (max-width: 768px) {

    header div{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .dark-mode-logo {
        display: flex;
        max-width: 100px; /* Máximo ancho permitido */
        max-height: 100px; /* Máximo alto permitido */
        margin-right: -25PX;
    }

    .logo-mobile img {
        display: flex;
        margin-left: 5%;
        max-width: 100px; /* Máximo ancho permitido */
        max-height: 100px; /* Máximo alto permitido */
    }

    #mobile-menu {
        font-size: 2.5rem;
        background-color: transparent;
        margin-right: 5%;
    }

    #mobile-menu.open::before {
        content: "X";
        color: black;
    }
    #mobile-menu::before {
        content: "☰";
        color: black;
    }
    .navigation-menu-bar { /*navigation bar color*/
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.navigation-menu-bar li {
    background-color: inherit; 
    text-decoration: none; /* Quita la subrayado del enlace */
    border: inherit;
}

.navigation-menu-bar li:hover { /* hover of navigation */
    background-color: inherit; 
}

.navigation-menu-bar li a:hover {
    color:inherit; /* text hover */

}


.navigation-menu-bar li a {
    color: black;
    font-weight: 700;
    text-decoration: none; /* Quita la subrayado del enlace */
    transition: color 0.3s; /* Transición suave para el cambio de color del texto */
    font-size: x-large;
    background-color: #93cadf;
    border-style: solid;  
    border-radius: 20px; 
    padding: 20px;
    display: inline-block;
    width: 80%;
    
}

.navigation-menu-bar li:hover a{ /* hover of navigation */
    background-color: #00909e; 
}

    /*hide the desktop menu on mobile*/
    .navigation-menu-bar {
        display: none;
    }
    .open {
        display: block;
    }

    /*remove the  desktop logos*/
    .dark-mode-button-on-desktop,
    .navigation-menu-bar>li>a>img {
        display: none;
    }
    footer {
        grid-template-columns: 2fr repeat(auto-fit, minmax(180px, 1fr)); /* La primera columna toma 2fr */
    }
    .menu-option-logo {
        font-size: 16px; /* Hace que el texto sea invisible */
    }


}


@media (max-width: 767px) { /* Cambios para tamaños de pantalla de teléfono */
    footer {
        grid-template-columns: 1fr; /* Cambia a una columna en pantallas pequeñas */
    }
    footer div a img{
        width: 50px;
        height: 50px;
    }

}