/**{
  border: green solid;
}*/

/*----------------Beginning of Weather CSS ----------------*/
.celciusRight {
    display: inline-block;
    padding-left: 10px;
    vertical-align: top;
}

.celcius {
    display: inline-block;
    font-size: 24px;
    line-height: 24px;
    margin-top: 6px;
    padding-left: 6px;
    vertical-align: top;
}

.anotherWeatherInfo {
    display: inline-block;
    font-size: 18px;
    line-height: 16px;
    padding-left: 9px;
    padding-top: 6px;
}

.currentTimeAndWeatherType2 {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    text-align: right;

}

.forecastInline {
    display: inline-block;
    height: 95px;
    line-height: 1;
    margin-right: 7px;
    text-align: center;
    width: 75px;
}


/*---------------- END OF Weather CSS ----------------*/

/*---------------------start of banner image---------------*/ 
.banner-container {
    display: flex;
}

.banner-slide {
    flex: 7; 
    overflow: hidden;
    text-align: center;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin: 10px;
}

.banner-slide img {
    max-width: 100%;
    height: auto;
    width: 90%; 
    border-radius: 25px;
}
.bannerContent {
    grid-column-start: 2;
    border-radius: 25px;
    text-align: center; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    flex: 2; /* content will width the 25% of the screen */
  }

.bannerContent h2,
.bannerContent p {
  margin: 10px 0; 
}
/*end of banner image*/

/*-------Start of Cards---------*/
.card {
    border-width: 2px;
    border-style: solid;
    border-color: #740001;
    text-align: center;
    margin-left: 2%;
    margin-right: 2%;
}

.additional-cards {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.additional-cards .card {
    flex: 1;
    padding: 20px;
    margin: 0 10px;
}
.card #vehicle-image{
    width: 300px;
}

/*end of Cards*/



@media (max-width: 768px) {
    .banner-container {
        flex-direction: column;
    }
  
    .banner-slide,
    .bannerContent {
      flex: 1; 
    }
  
    .bannerContent {
      text-align: center; 
      margin-bottom: 20px;
      
    }
    .banner-slide img {
        margin-right: 3%;
    }
  }
  
@media screen and (max-width: 680px) {
    .banner-slide {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        text-align: center;
        margin: 10px;
    }
    .banner-slide img {
        max-width: 100%;
        max-height: 100%;
        height: auto;
        width: auto;
        display: inline-block;
    }

    .additional-cards {
        flex-direction: column;
    }
    .banner-slide img {
        width: 90%;
    }
}
